<a href="https://colab.research.google.com/github/roopeshkumar11/SUMMER-TRAINING/blob/main/training_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

# New Section

In [ ]:
address=""" mahatama ghandhi
gopalpura by pass
jaipur"""

print(address)

 mahatama ghandhi
gopalpura by pass
jaipur

In [ ]:
company="regex"
year=2024
print(f"company name is {company}  year is {year}")

company name is regex  year is 2024

In [ ]:
username="roopesh"
msg=f"hey user {username}"
print(msg)

username="aman"
print(msg)

hey user roopesh
hey user roopesh

In [ ]:
1+5*4/2-7+8

12.0

In [ ]:
#mebership & identity

"j" in "jaipur" #membership

"j" not in "jaipur"

False

In [ ]:
#identity
#variable => data tpye
#object belong to a class
x=10
type(x) is int

True

In [ ]:
x=10
type(x) is not int

False

In [ ]:
# == & is

x=500
y=500

In [ ]:
x==y

True

In [ ]:
x is y

False

In [ ]:
a=10
b=69
c=5

if(a<b and a<c):
   print("a is min")
elif(b<c ):
   print(" b is min")
else:
  print("c mim")

c mim

In [ ]:
a=int(input("enter"))

if(a>80):
  print("exa")

elif(a>70 and a<80):
  print("good")
elif(a>60):
   print("average")

else:
  print("bad")

In [ ]:
#index


state="Rajasthan"
state[-1]

In [ ]:
#silceing
# [start: stop: [step:1]]

print(state[0:4])
print(state[0:6])
print(state[0:4:2])
print(state[0:4:-1])

In [ ]:
state[-1:-4:-1]

In [ ]:
# loop (repetative)
 # range(start,stop, [step=1])
# for i in range(0,10)

In [ ]:
for i in range(1,5):
  print(i)

In [ ]:
for i in range(1,8,3):
  print(i)

In [ ]:
for i in "hello":
  print(i)

In [ ]:
data="hello"
print(len(data))

In [ ]:
for index in range(0,5):
  print(index,data,data[index])

In [ ]:
b="ajay"
c=0
for i in range(0, len(b)):
  c=c+1
print(c)

In [ ]:
find="roopesh"
count=0
for i in range(0,len(find)):
  if("a"==find[i] or "i"==find[i] or "e"==find[i] or "o"==find[i] or "u"==find[i]):
    count=count+1
print(count)

In [ ]:
for i in range(1,4):
  print("hello",i)

  for j in range(1,4):
    print("tushar",j)

In [ ]:
for i in range(1,4):


  for j in range(1,4):
    print("*",end="")
  print(" ")

In [ ]:
for i in range(1,6):


  for j in range(1,6):
    print(i,end="")
  print(" ")

In [ ]:
for i in range(1,6):


  for j in range(1,6):
    print(j,end="")
  print(" ")

In [ ]:
for i in range(1, 6):
    for j in range(-5,-0):
        print(-j, end="")
    print(" ")

In [ ]:
for i in range(1,6):


  for j in range(1,i+1):
    print("*",end="")
  print(" ")

*
**
***
****
*****

In [ ]:
for i in range(1,6):


  for j in range(1,6-i):
    print("*",end="")
  print(" ")

In [ ]:
p=27

for i in range(2,27):
  if(p%i==0):
    print("not prime")
    break

  else:
    {
       print("prime")
   }

In [ ]:
for i in range(65,72):


  for j in range(1,i+1):
    print(chr(j),end="")
  print(" ")

In [ ]:
for i in range(1,6):


  for j in range(1,6-i):
    print("$",end="")
  for k in range(1,i+1):
    print("*",end="")
  print(" ")

In [ ]:
#while loop

i=1
while(i<5):
  print("hello",i)
  i+=1

In [ ]:
#lit:collection of element ,which has index positon
#mututable
#order collection of element

In [ ]:
mylist=[10,20,"hello"]
print(type(mylist))

In [ ]:
mylist[0]=100

In [ ]:
print(mylist[0:15])

In [ ]:
mylist.append(50)
print(mylist)

In [ ]:
# add multiple elment using extend

mylist.extend("hey")
print(mylist)

In [ ]:
mylist.extend(["hey"])
print(mylist)

In [ ]:
help (mylist)

In [ ]:
mylist.pop()
print(mylist)

In [ ]:
mylist.remove("hello")
print(mylist)

In [ ]:
checklist=[10,20,300,"heyy","11.5"]
new1=[]
for i in checklist:
  if(type(i) is int):
    new1.append(i**2)
print(new1)

In [ ]:
num=153
x=num
total=0
while(num>0):
  rem=num%10
  total+=rem**3
  num=num//10
if(total==x):
  print("armstrong")

else:
  print("not arm")

In [ ]:
#tuple
#immutable
# faster

mytuple=10,20,30
print(type(mytuple))

In [ ]:
#only two method count and index
print("before",id(mytuple))
mytuple=mytuple+(60,70)
print(mytuple)
print("after",id(mytuple))

In [ ]:
#dictionary
#collectiom of elment key:value
#key:identifier
#value
#order collection of element

In [ ]:
mydictinar={10:"tushar", 20:"abhishek"}
mydictinar

In [ ]:
#upadte
mydictinar[10]="aman"
print(mydictinar)

In [ ]:
#insert
mydictinar[30]="aman"
print(mydictinar)

In [ ]:
#delete
mydictinar.pop(10)
print(mydictinar)

In [ ]:
sampledic={}
for i in "hello":

  sampledic[i]=1
print(sampledic)

In [ ]:
# function
#block of code

# def functname():
     # statement

def msg(x,y):
  print("hello",x,y)
  return x+y
  return 0


out=msg(10,20);  # tushar is argument
print(out)

hello 10 20
30

In [ ]:
def func(a):
  a=a+5


a=10
print("before functio",a)
func(a)
print("after functio",a)

before functio 10
after functio 10

In [ ]:
def demo(first, sec, third):
    if first > sec and first > third:
        print("excellent")
    elif sec > third:
        print("good")
    else:
        print("average")


demo(3,2,1)
demo(1,32,3)
demo(1,5,36)

excellent
good
average

In [ ]:
def lcm(x,y):
  if(x>y):


       greatest=x
  else:
    greatest=y
  while(True):
    if(greatest%x==0 and greatest%y==0):
      print("lcm is",greatest)
      return
    else:
      greatest+=1



lcm(3,21)

lcm is 21

In [ ]:
def employee(eid,name,email):
  print(f"eid is{eid}\nemail is {email}")


employee(90,"naina")  #nnumber of parameter should be nnmber of argument is  requird argument

In [ ]:
#psotion argumnet
def employee(eid,name,email):
  print(f"eid is{eid} \n name is{name}\nemail is {email}")


employee("naina@gamil.com",90,"naina")

eid isnaina@gamil.com
 name is90
email is naina

In [ ]:
#keyword argumnet
def employee(eid,name,email):
  print(f"eid is{eid} \n name is{name}\nemail is {email}")


employee(email="naina@gamil.com",eid=90,name="naina")

eid is90
 name isnaina
email is naina@gamil.com

In [ ]:
#default

def employee(eid,name,email="naina@gamil.com"):
  print(f"eid is{eid} \n name is{name}\nemail is {email}")


employee(eid=90,name="naina")

eid is90
 name isnaina
email is naina@gamil.com

In [ ]:
# variable lenght argument (args)
def  facebook(*data):
    print(data,type(data))

facebook(10,10,30,9,8,4)
facebook("roop@gamil.com","regex",100)
facebook("amzon","nidhi")

(10, 10, 30, 9, 8, 4) <class 'tuple'>

In [ ]:
# keyword variable lenght argument(kwargs)
#args,kwargs
def  facebook(**data):
    print(data,type(data))


facebook(usrenam="roop@gamil.com",company="regex",id=100)

{'usrenam': 'roop@gamil.com', 'company': 'regex', 'id': 100} <class 'dict'>

In [ ]:
#high order function
#which take another functiom as a argumrnt

def sq(x):
  print(x*x)


def add(x,func):
  print(x,func)
add(10,sq(5))

25
10 None

In [ ]:
def sq(x):
  return x*x


def add(x,func):
  print(x,func)
add(10,sq(5))

10 25

In [ ]:

squared_numbers = [x ** 2 for x in range(1, 11)]

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:


for i in range(1, 6):
    for j in range(0, i):

        print(chr(65 + j), end="")
    print(" ")

A
AB
ABC
ABCD
ABCDE

In [ ]:
for i in range(1, 6):
    for j in range(0, 6 - i):
        print(chr(65 + j), end="")
    for k in range(1, i + 1):
        print(k, end="")
    print()

ABCDE1
ABCD12
ABC123
AB1234
A12345

In [ ]:
for i in range(1, 6):
    for j in range(1, 6 - i + 1):
        print(j, end="")
    for k in range(1, i + 1):
        print("*", end="")
    print()

12345*
1234**
123***
12****
1*****

In [ ]:
#lambda functioon
#annoymous (gumnaame)
#lambda se start
#lambda


out =lambda x: x+10 #fucntion store in variable called frist class
out(5)

15

In [ ]:
#high orderfunction map filter reduce
#map(function,iterable)
def square(x):
   return x*x


mylist=[1,2,3,4,5]

ans=list(map(square,mylist))

print(ans)

[1, 4, 9, 16, 25]

In [ ]:
mylist=[1,2,3,4,5]

ans=list(map(lambda x:x*x,mylist))

print(ans)

[1, 4, 9, 16, 25]

In [ ]:
filobje=("file.txt","r")
obj=filobje.read()
filobje.close()

print(obj)

In [ ]:
filobje=("file.txt","r+")
print(filobje.tell())
filobje.write("tushar")
filobje.seek(2)
print("after write", filobje.tell())

x=filobje.read()
filobje.close()

print(x)

In [ ]:
with open("file.text","r") as fileobj:
     x=fileobj.read()
print(x)

In [ ]:
with open("file.text","r") as fileobj:
  for line in fileobj.readline():
     print(line.strip())

In [ ]:
#unpacking karna
mylist=[2,3,4,5]
x,y,z,w=mylist
print(y)

3

In [ ]:
#exception handling
#try ,except

try:
  print("hello")
  # x=10
  # x/num

  x="tushar"
  x[10]
  print("hey")
except (ZeroDivisionError,NameError) as z:

  print("error :",z)

except Exception as e:
  print(e,":error occured")

hello
string index out of range :error occured

In [ ]:
try:
  print("hello")
  x=10
  x/0
  print("hey")


except Exception as e:
  print(e,":error occured")

else:
  print("try block mai error nhi hai ")

hello
division by zero :error occured

In [ ]:
#take input user ones number provide we have drop same number of mesage to go